@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
}

body {
  font-family: Tajawal, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  min-height: 100vh;
}

.heading {
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 80%;
}
.heading h1 {
  font-size: 35px;
  color: #fff;
  text-align: center;
}
.search {
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  justify-self: flex-start;
}
input {
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  min-width: 500px;
  outline: none;
  border: none;
  background-color: rgb(243, 243, 243);
}
.lessons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 95%;
}

.lesson {
  text-align: right;
  background-color: rgb(50 50 50);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  align-self: stretch;
}

.lesson-no {
  background-color: red;
  color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  margin: 10px;
  transform: rotate(45deg);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.diamond {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: white;
  transform: rotate(45deg);
  border-radius: 1px;
}

.topic {
  background-color: #4f4f4f;
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  transition: 0.2s;
  display: inline-block;
  cursor: default;
}

.topic:hover,
.topic.searched {
  background-color: white;
  color: black;
  transition: 0.2s;
}

.topic:hover .diamond,
.topic.searched .diamond {
  background-color: rgb(50 50 50);
}

.lesson-no span {
  transform: rotate(-45deg);
  display: inline-block;
}

footer {
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: ubuntu, Arial, sans-serif;
  justify-self: flex-end;
  font-weight: bold;
  margin-bottom: 20px;
}

a,
a:visited {
  color: red;
}

.not-found {
  color: #fff;
  font-family: ubuntu, Arial, sans-serif;
}

@media (max-width: 1400px) {
  .lessons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1400px) {
  .lessons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .lessons {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .search input {
    min-width: 100%;
  }
}

@media (max-width: 345px) {
  .heading,
  .search {
    max-width: 90%;
    width: 90%;
  }
}
