* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl;
}

:root {
  --primary-color: red;
  --background: #1d1d1d;
  --secondary: #4f4f4f;
}

body {
  font-family: Tajawal, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  min-height: 100vh;
}

::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
  background: linear-gradient(var(--secondary), var(--background));
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}
.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.top {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
}
.top h1 {
  font-size: 35px;
  color: #fff;
  text-align: center;
}
.top {
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  justify-self: flex-start;
  flex-direction: column;
  gap: 10px;
}

.top input {
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  width: 500px;
  margin: auto;
  outline: none;
  border: none;
  background-color: rgb(243, 243, 243);
}
.lessons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 95%;
}

.lesson {
  text-align: right;
  background-color: rgb(50 50 50);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  align-self: stretch;
}

.lesson-no {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  margin: 10px;
  transform: rotate(45deg);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.diamond {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: white;
  transform: rotate(45deg);
  border-radius: 1px;
  margin-left: 5px;
}

.topic {
  background-color: var(--secondary);
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  transition: 0.2s;
  display: inline-block;
  cursor: default;
  padding-top: 7.5px;
  padding-right: 6px;
}

.topic:hover,
.topic.searched {
  background-color: white;
  color: black;
  transition: 0.2s;
}

.topic:hover .diamond,
.topic.searched .diamond {
  background-color: rgb(50 50 50);
}

.lesson-no span {
  transform: rotate(-45deg);
  display: inline-block;
}

.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  gap: 10px;
}

.nav-btns button {
  font-family: ubuntu, Arial, sans-serif;
  font-weight: bold;
  background: none;
  color: #fff;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transform: 0.2s;
}

.nav-btns button:not(.btn-on) {
  border-bottom: 2px solid transparent;
  border-radius: 0;
}

.nav-btns button:not(.btn-on):hover {
  border-bottom: 2px solid red;
  transition: 0.3s;
}

.nav-btns button.btn-on {
  background-color: var(--primary-color);
}

footer {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: ubuntu, Arial, sans-serif;
  justify-self: flex-end;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 30px;
}

a,
a:visited {
  color: white;
}

.not-found {
  color: #fff;
  font-family: ubuntu, Arial, sans-serif;
}

@media (max-width: 1400px) {
  .lessons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1400px) {
  .lessons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .lessons {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .top input {
    width: 100%;
  }

  .top {
    max-width: 90%;
    width: 90%;
  }
}
